{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile-container text-center">
        <div class="profile-cover">
            <h1 class="profile-name"><br> Welcome to ❃ FLEN ❃ 's profile </h1>


        </div>
        <div class="profile-picture-container">
            <img src="https://us.123rf.com/450wm/yummytime/yummytime1608/yummytime160800630/61903988-anonyme-m%C3%A2le-photo-de-profil-avatar-de-l-%C3%A9motion-cr%C3%A9%C3%A9e-pour-mobile-web-d%C3%A9coration-produits-d.jpg"
                 alt="Profile Picture" class="profile-picture rounded-circle">
        </div>


        <div class="profile-bio">"Auteur audacieux | Rêveur invétéré | Amoureux des mots"</div>
        <div class="profile-stats">
            <span class="profile-followers"><i class="fa-solid fa-user"></i>1000 Followers</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="profile-following"><i class="fa-solid fa-user"></i>500 Following</span>
        </div>
        <br>
        <br>


        <button class="btn btn-warning">Follow</button>
        <button class="btn btn-warning">Message</button>
        <button class="btn btn-warning">Report</button>

        <br>
        <br>
        <br>
        <br>
        <div class="profile-stories-container">
            <h2 class="profile-stories-title">Stories auxquelles cette personne a participé:</h2>
            <br>
            <br>
            <div class="profile-stories-grid">
                <!-- Stories ici -->
                <!-- 1er exemple -->
                <div class="text-center">
                    <img src="https://thumbs.dreamstime.com/b/loup-17334773.jpg"
                         class="img-fluid rounded start, zoom-image">
                    <h5>Horreur, Science-Fiction </h5>
                </div>
                <span class="description">Est-ce toujours le loup ? Elle non plus n'était pas aussi innocente qu'elle en avait l'air.
        <br><br>
        <a href="page_destination.html" class="btn btn-warning">Continuez la lecture</a>
        </span>

                <!-- 2eme exemple -->
                <div class="text-center">
                    <img src="https://www.daily-movies.ch/wp-content/uploads/2023/02/Un-homme-heureux_4.jpg"
                         class="img-fluid rounded start, zoom-image ">
                    <h5>Romance </h5>
                </div>
                <span class="description">Il était une fois, dans un petit café au coin de la rue, que leurs regards se sont croisés pour la première fois...
        <br><br>
        <a href="page_destination.html" class="btn btn-warning">Continuez la lecture</a>
        </span>


            </div>
        </div>

    </div>
{% endblock %}