$colors: (
        DarkTurquoise: hsl(181, 37%, 43%),
        Turquoise: hsl(173, 28%, 49%),
        Silver: hsl(189, 11%, 76%),
        LightGray: hsl(330, 4%, 89%),
        wheat: hsl(24, 43%, 77%),
        clr-text: hsl(0, 0%, 20%),
)