:root {
  --DarkTurquoise: #469597;
  --Turquoise: #5BA199;
  --Silver: #BBC6C8;
  --LightGray: #E5E3E4;
  --wheat: #DDBEAA;
  --clr-text: #333333;

  --ff-base: "Lora", serif;
  --ff-accent: "Cormorant", serif;
  --ff-headings: "Playfair Display", serif;

  --fs-300: clamp(1.00rem, calc(1.00rem + 0.00vw), 1.00rem);
  --fs-400: clamp(1.20rem, calc(1.18rem + 0.08vw), 1.25rem);
  --fs-500: clamp(1.44rem, calc(1.40rem + 0.18vw), 1.56rem);
  --fs-600: clamp(1.73rem, calc(1.65rem + 0.34vw), 1.95rem);
  --fs-700: clamp(2.07rem, calc(1.94rem + 0.55vw), 2.44rem);
  --fs-800: clamp(2.49rem, calc(2.29rem + 0.85vw), 3.05rem);

  --bs-body-font-size: var(--fs-400);
  --bs-body-font-family: var(--ff-base);
  --bs-body-line-height: 1.6;
  --bs-link-color-rgb: 91, 161, 153;
  --bs-emphasis-color-rgb: 229, 227, 228;
}