$breakpoints: (
        small: 40em,
        medium: 65em,
);
$colors: (
        clr-primary: hsl(215.1, 75.2%, 49%),
        DarkTurquoise: mix(hsl(215.1, 75.2%, 49%), black, 90%),
        clr-accent: hsl(48.7, 91%, 56.7%),
        clr-text: hsl(0, 0%, 20%),
        clr-titles: hsl(220, 6%, 22%),
);