@import '../base/reset';
@import '../base/typography';
@import '../abstracts/variables';
@import '../layout/section';

/* Disable AOS delay on mobile */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0ms !important;
  }
}

html {
  color-scheme: light dark;
}

::marker {
  color: var(--DarkTurquoise);
}

/* Links */
a {
  text-decoration: none;

  &:hover, &:focus {
    color: var(--Turquoise);
  }
}
