/* Disable AOS delay on mobile */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0ms !important;
  }
}

:root {
  --DarkTurquoise: #469597;
  --Turquoise: #5BA199;
  --Silver: #BBC6C8;
  --LightGray: #E5E3E4;
  --wheat: #DDBEAA;
  --bs-link-color-rgb: 91, 161, 153;
}

body {
  font-family: "Lora", serif;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

p, li, blockquote, cite {
  font-family: "Lora", serif;
}

strong, em, span {
  font-family: "Cormorant", serif;
}

a {
  text-decoration: none;

  &:hover {
    color: var(--Turquoise);
  }
}

img {
  display: block;
  max-width: 100%;
}

/* Sections */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: var(--LightGray);
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 0.875rem;
  line-height: 1px;
  margin: 0 0 0.3125em 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--Silver);

  &::after {
    content: "";
    width: 7.5em;
    height: 1px;
    display: inline-block;
    background: var(--Turquoise);
    margin: 0.25em 0.625em;
  }
}

.section-title p {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--DarkTurquoise);
}