{% extends 'base.html.twig' %}

{% block body %}
    <h1>Leaderboard</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>XP</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.xp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
