{# templates/admin/index.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}
{% block header %}
    <span class="logo"><img alt="StoryVerse logo" class="img-fluid" src="{{ asset('build/images/logo.webp') }}">StoryVerse</span>
     {% endblock %}
{% block menu %}
    {{ parent() }}
{% endblock %}
{% block page_title %}
    Admin Space
{% endblock %}
{% block content_top %}
{% endblock %}