{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_header_wrapper %}
{% endblock  content_header_wrapper %}

{# remove search and replace it with title in the dashboard #}
{% block content_top_header %}
    <div class="content-search">
        {% if not has_search %}
            <h1>Admin Space</h1>
        {% endif %}
    </div>
    {{ parent() }}
{% endblock %}

{% block body_attr %}
    style="background-color: #f2f2f2;"
{% endblock %}

{% block main %}
    {{ parent() }}
    <main id="main">
        <div class="container">
            <div class="row">
                {# Users card #}
                {% include '/admin/card.html.twig' with {
                    'icon': 'fa-users',
                    'category': 'Members',
                    'title': users
                } %}

                {# Stories Card #}
                {% include '/admin/card.html.twig' with {
                    'icon': 'fa-book-open',
                    'category': 'Stories',
                    'title': story
                } %}

                {# Interactions card #}
                {% include '/admin/card.html.twig' with {
                    'icon': 'fa-heart',
                    'category': 'Interactions',
                    'title': interaction
                } %}

                {# Challenges card #}
                {% include '/admin/card.html.twig' with {
                    'icon': 'fa-trophy',
                    'category': 'Challenges',
                    'title': '450'
                } %}
            </div>
        </div>
        <div class="container">
            {# Statistics section #}
            <div class="row">
                <h2>Statistics</h2>
                <hr/>

                {# Story genre Statistics #}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Story Genre</h3>
                        </div>
                        <div class="card-body">
                            <canvas id="genre_chart"></canvas>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>

                {# Gender statistics #}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Gender Statistics</h3>
                        </div>
                        <div class="card-body">
                            <canvas id="gender_chart"></canvas>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                {# Language statistics #}
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Story Language Analysis</h3>
                        </div>
                        <div class="card-body">
                            <canvas id="language_chart"></canvas>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}