{# templates/admin/index.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}
{% block head_javascript %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block header %}
    <span class="logo"><img alt="StoryVerse logo" class="img-fluid" src="{{ asset('build/images/logo.webp') }}">StoryVerse</span>
     {% endblock %}
{% block main %}
    {{ parent() }}

    <canvas id="gender_chart"  style="max-width: 200px;max-height: 200px"></canvas>

{% endblock %}
{% block page_title %}
    Admin Space
{% endblock %}

    {% block body_javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>

    {% endblock body_javascript %}
