<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-body container">
            <div class="row align-items-center">
                <div class="col-auto">
                    <i class="fa-solid fa-2xl {{ icon }}"></i>
                </div>
                <div class="col-auto">
                    <h2 class="card-category">{{ category }}</h2>
                    <p class="card-title">{{ title }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <hr/>
            <div class="stats text-center">
                <a href="{{ path('app_admin') }}"><i class="fa fa-refresh"></i> Update Now</a>
            </div>
        </div>
    </div>
</div>