{% extends '@!EasyAdmin/layout.html.twig' %}
{% block header_logo %}
    <span class="logo"><img alt="StoryVerse logo" class="img-fluid" src="{{ asset('build/images/logo.webp') }}">StoryVerse</span>
{% endblock header_logo %}
