{% extends '@!EasyAdmin/layout.html.twig' %}
{% block header_logo %}
    <a class="navbar-brand" href="{{ path('app_browse_stories') }}">
        <img src="{{ asset('build/images/logo.webp') }}" alt="Logo" width="40" height="40"
             class="d-inline-block align-text-top"/> StoryVerse
    </a>
{% endblock header_logo %}
