.contact .info {
  color: var(--DarkTurquoise);
}

.contact .info i {
  font-size: 1.25rem;
  float: left;
  width: 2.75rem;
  aspect-ratio: 1/1;
  background: var(--LightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.25em;
}

.contact .info p {
  font-size: 0.875rem;
}

.contact-info {
  padding-inline-start: 3.75rem;
}

.contact .info > div:not(:first-child) {
  margin-top: 2.5rem;
}

.contact .info > div:hover i {
  background: var(--Turquoise);
  color: #fff;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
}

.contact .php-email-form button[type=submit] {
  background: var(--Turquoise);
  border: 0;
  padding: 0.625em 1.875em;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  color: var(--Turquoise);
  background: ghostwhite;
}