@use '../abstracts/mixins' as m;

.team .member {
  margin-bottom: 6.25rem;
  position: relative;
}

.team .member .pic {
  overflow: hidden;
}

.team .member img {
  @include m.hover-lift();
}

.team .member .member-info {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  color: var(--DarkTurquoise);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.member-name {
  font-weight: 700;
  font-size: 1rem;
}

.member-position {
  font-style: italic;
  font-size: 0.875rem;
}

.team .member .social a {
  transition: color 0.3s;
  color: var(--DarkTurquoise);
}

.team .member .social a:hover {
  color: var(--clr-primary);
}

.fa-brands {
  margin-inline: 2px;
}

.contact .info {
  color: var(--DarkTurquoise);
}

.contact .info i {
  float: left;
  width: 2.75rem;
  aspect-ratio: 1/1;
  background: var(--clr-accent);
  display: grid;
  place-content: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  font-weight: 600;
  margin-bottom: 0.25em;
}

.contact-info {
  padding-inline-start: 3.75rem;
}

.contact .info > div:not(:first-child) {
  margin-top: 2.5rem;
}

.contact .info > div:hover i {
  background: var(--clr-primary);
  color: #fff;
}