@import "../helper/general";

#footer {
  background: var(--DarkTurquoise);
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 0.875rem;
}

#footer .copyright {
  border-top: 1px solid var(--DarkTurquoise);
  text-align: center;
  padding-top: 30px;
}