nav {
  background: var(--Turquoise);
}

.navbar-brand {
  color: var(--LightGray);
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

.navbar-brand:hover, .fa-plus, #profile {
  color: white;
}

.hidden {
  display: none;
}

.navbar a i,
.navbar a:focus i {
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #fff;
}

//SEARCH
.form {
  position: relative;
  max-width: 35vw;
}

.form .fa-magnifying-glass {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}