nav {
  background: var(--Turquoise);
}

.navbar-brand {
  color: var(--LightGray);
  font-size: 1.75rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  span {
    display: none;
  }
}

.navbar-brand:hover, .fa-plus, #profile, .fa-magnifying-glass, .fa-bell, .fa-trophy {
  color: white;
}

//SEARCH
#search-bar {
  max-width: 30vw;
  opacity: 90%;
  background: var(--DarkTurquoise);
  border-radius: 60px;
  backdrop-filter: blur(4px) saturate(180%);
}

#search-bar input {
  text-indent: 1em;
  border: 0;
  background: transparent;
  outline: none;
  color: white;
}

::placeholder {
  color: white !important;
}

#search-bar button {
  border: 0;
  background: var(--DarkTurquoise);
}

#notification-icon{
  border: 0;
}

#search-bar .fa-magnifying-glass {
  width: 25px;
}