#header {
  transition: all 0.5s;
  background: var(--clr-primary);
  opacity: 0.9;

  &.header-transparent {
    background-color: transparent;
  }

  &.header-scrolled {
    background: var(--clr-primary);
    opacity: 1;
  }
}

/*Navigation Menu*/
.navbar-nav a,
.navbar-nav a:focus {
  font-size: 0.9375rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 1.25em;
  background-color: var(--clr-accent);
  visibility: visible;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before,
.navbar-nav .active:before {
  visibility: visible;
  width: 25px;
}