@use 'abstracts/mixins' as m;

:root {
  --sidebar-bg: #5BA199;
  --sidebar-menu-active-item-color: white;
  --sidebar-menu-items-padding-left: 0px;
  --sidebar-menu-active-item-bg: #5BA199;
  --sidebar-logo-color: white;
  --link-color: rgba(255, 255, 255, 0.7);
  --sidebar-menu-icon-color: rgba(255, 255, 255, 0.7);
  --badge-boolean-true-bg: #5BA199;
  --button-primary-bg: #5BA199;
  --pagination-active-bg: #5BA199;
  --pagination-color: #5BA199;
  --sidebar-menu-color: var(--link-color);
}

#main-menu .menu .menu-item-contents {
  padding: 1em 0.5em;
  font-size: 0.9375rem;

  @include m.pseudo($bottom: 3px, $left: 30px, $top: 100%) {
    width: 0;
    height: 2px;
    background-color: #DDBEAA;
    transition: all 0.3s ease-in-out 0s;
  }
}

#main-menu .menu .menu-item .menu-item-contents:active:before {
  visibility: visible;
  width: 25px;
}

#main-menu .menu .menu-item .menu-item-contents:hover:before {
  width: 100%;
  left: 0;
}

.card-stats i {
  color: #ff7e67;
}

.card-stats .card-body .card-category {
  color: #9A9A9A;
  font-size: 1.25rem;
  line-height: 1.4;
}

.card {
  border-radius: 1em;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #252422;
  margin: 2em 0;
}

.card-footer {
  background-color: transparent;
  border: 0;
}

canvas {
  max-height: 25rem;
}

.fa-heart {
  color: #d82613;
}

.stats a {
  color: #5BA199;
}

#content-resizer-handler {
  display: none;
}