:root {
  --sidebar-bg: #5BA199;
  --sidebar-menu-active-item-color: white;
  --sidebar-menu-items-padding-left: 0px;
  --sidebar-logo-color: white;
  --link-color: rgba(255, 255, 255, 0.7);
  --sidebar-menu-icon-color: rgba(255, 255, 255, 0.7);
  --badge-boolean-true-bg: #5BA199;
  --button-primary-bg: #5BA199;
  --pagination-active-bg: #5BA199;
  --pagination-color: #5BA199;
}

#main-menu .menu .menu-item.active a {
  color: var(--sidebar-menu-active-item-color);
  background-color: #5BA199;
}

#main-menu .menu .menu-item,
#main-menu .menu .menu-item-contents {
  border-radius: var(--border-radius);
  padding-right: 0;
}

#main-menu .menu .menu-item-contents {
  padding: 1em 0.5em;
  color: var(--link-color);
  font-size: 0.9375rem;
}

.stats a {
  color: #5BA199;
}

.menu .menu-item a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 3px;
  left: 30px;
  background-color: #DDBEAA;
  transition: all 0.3s ease-in-out 0s;
}

.menu .menu-item a:active:before {
  visibility: visible;
  width: 25px;
}

.menu .menu-item a:hover:before {
  width: 100%;
  left: 0;
}

.card-stats i {
  color: #ff7e67;
}

.card-stats .card-body .card-category {
  color: #9A9A9A;
  font-size: 1.25rem;
  line-height: 1.4;
}

.card {
  border-radius: 1em;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #252422;
  margin: 2em 0;
}

.card-footer {
  background-color: transparent;
  border: 0;
}

canvas{
  max-height: 25rem;
}

.fa-heart{
   color: #d82613;
}

#content-resizer-handler {
  display: none;
}