@import "helper/variables";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "./layout/header";
@import "./layout/footer";

@import "./components/trending";

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*General*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: $DarkTurquoise;
    text-decoration: none;
}

a:hover {
    color: $Turquoise;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

/* Sections */
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: $LightGray;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $Silver;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: $Turquoise;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: $DarkTurquoise;
}