@charset "utf-8";

@use 'abstracts/mixins' as m;

@import "~bootstrap";
@import "~sweetalert2/dist/sweetalert2.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "./helper/general";

@import "./components/trending";
@import './components/search';

//TODO: Move these to a separate file
.genre {
  color: #666666;
  @include m.pseudo($loc: 'after', $top: 100%) {
    width: 0;
    height: 2px;
    background-color: #222;
    transition: all 0.25s ease-out;
  }

  &.selected, &:hover {
    color: #222;
  }

  &:hover:after, &.selected:after {
    width: 100%;
  }
}

#genre-description {
  max-width: 75ch;
}

.genres {
  gap: 0.5rem;
  flex-wrap: nowrap;
}