@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "~bootstrap";
@import "~sweetalert2/dist/sweetalert2.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "helper/general";
@import "./layout/header";
@import "./layout/footer";

@import "./components/trending";
@import './components/search';

body {
  padding-top: 5em;
}

nav {
  background: var(--clr-primary);

  .navbar-brand {
    font-size: 1.75rem;
    font-weight: 700;

    &:hover {
      color: white;
    }
  }
}