#fixed {
  text-align: center;
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
}

.theme {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 200px;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden; 
}

.page-content {
  line-height: 1.625;
  margin-top: 4em;
}

#pdf {
  border: 2px solid #299d87;
}

.action-button {
  font-size: 1.5rem;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin: 0.5em auto;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

@media (min-width: 768px) {
  /* Hover */
  .action-button:hover {
    width: 125px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: .3s;
  }
}

.action-button:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .05s
}

.like, .action-button {
  position: relative;
  cursor: pointer;
}

.like::after {
  content: 'like';
  position: absolute;
  font-size: 0.9375rem;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.fa-heart {
  transition: .2s linear;
  color: #d31717;
}

.like:hover > .fa-heart {
  transform: scale(1.2);
}

.like:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}

.fa-circle-exclamation {
  color: #b30000;
}

#report {
  border: 2px solid #b30000;
}

.text {
  border: solid rgba(0, 0, 0, 0.125) 1px;
  max-width: 75ch;
}

#comment-section {
  max-width: 75ch;
}

.be-img-comment {
  float: left;
}

.be-comment-content {
  margin-left: 5em;
}

.be-comment-text{
  font-size: var(--fs-300);
  line-height: 1.25;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 1rem;
}

.be-comment-time {
  font-size: var(--fs-300);
}
//.reply {
//  display: none;
//  margin-left: 5%;
//}
//
//.icon {
//  margin-left: 10%;
//  margin-bottom: 5%;
//}

button {
  border: 0;
  background: none;
}

// ADD CONTRIBUTION STYLE
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #299d87;
  color: #ffffff;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/// contribution form style
#contribute-form {
  display: none;
}

#sub {
  outline: none;
  min-height: 40px;
  max-width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #299d87;
  color: #299d87;
  letter-spacing: 1px;
  font: {
    size: 0.75rem;
    weight: bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    color: white;
    background: #299d87;
  }

  &:active {
    letter-spacing: 2px;
  }

  &:after {
    content: "SUBMIT";
  }
}

.onclic {
  width: 40px;
  border-color: gray;
  border-width: 3px;
  font-size: 0;
  border-left-color: #299d87;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content: "";
  }

  &:hover {
    color: #299d87;
    background: white;
  }
}

.validate {
  font-size: 0.8125rem;
  color: white;
  background: #299d87;

  &:after {
    content: "\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dialog-ovelay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999
}

.dialog-ovelay .dialog {
  width: 400px;
  margin: 100px auto 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  border-radius: 3px;
  overflow: hidden
}

.dialog-ovelay .dialog header {
  padding: 10px 8px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5
}

.dialog-ovelay .dialog header h2 {
  font-size: 0.875rem;
  margin: 0;
  color: #555;
  display: inline-block
}

.dialog-ovelay .dialog header .fa-close {
  float: right;
  color: #c4c5c7;
  cursor: pointer;
  transition: all .5s ease;
  padding: 0 2px;
  border-radius: 1px
}

.dialog-ovelay .dialog header .fa-close:hover {
  color: #b9b9b9
}

.dialog-ovelay .dialog header .fa-close:active {
  box-shadow: 0 0 5px #673AB7;
  color: #a2a2a2
}

.dialog-ovelay .dialog .dialog-msg {
  padding: 12px 10px
}

.dialog-ovelay .dialog .dialog-msg p {
  margin: 0;
  font-size: 0.9375rem;
  color: #333
}

.dialog-ovelay .dialog footer {
  border-top: 1px solid #e5e5e5;
  padding: 8px 10px
}

.dialog-ovelay .dialog footer .controls {
  direction: rtl
}

.dialog-ovelay .dialog footer .controls .button {
  padding: 5px 15px;
  border-radius: 3px
}

#arrow {
  color: #5c5e60;
}

.reply {
  display: none;
}

.fa-paper-plane {
  color: #5BA199;
}