body {
  width: 100%;
  height: 100%;
}

#fixed {
  text-align: center;
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
}

.theme {
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 200px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-image: url(https://images.unsplash.com/photo-1442606383395-175ee96ed967?q=80&fm=jpg&s=5c8c74be9bc91b47c79a1aaf92264be5);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.title {
  z-index: 1;
}

h1 {
  color: #1e2125;
  font-size: 5vw;
}

.theme:before {
  content: "";
  background: rgba(#000, 0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 400ms;
}

.theme.fixme:before {
  background: rgba(#000, 0.8);
}

.page-content {
  width: 80%;
  line-height: 1.625;
  margin: 5% auto 0 1%;
}

.text {
  border-radius: 12px;
  border: solid rgba(0, 0, 0, 0.125) 1px;
  margin-left: 1%;
}

.title {
  margin-bottom: 2%;
}

.authors {
  width: 10%;
}

.be-comment-block {
  margin-bottom: 50px !important;
  padding: 70px 80px;
}

.comments-title {
  font-size: 16px;
  color: #262626;
  margin-bottom: 15px;
}

.be-img-comment {
  width: 60px;
  height: 60px;
  float: left;
  margin-bottom: 15px;
}

.be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.be-comment-content {
  margin-left: 80px;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-name {
  font-size: 13px;
}

.be-comment-content a {
  color: #383b43;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-time {
  text-align: right;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}

.be-comment-text {
  font-size: 13px;
  line-height: 18px;
  color: #7a8192;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 20px 20px 20px;
}
.form-group.fl_icon .icon {
  position: absolute;
  top: 1px;
  left: 16px;
  width: 48px;
  height: 48px;
  background: #f6f6f7;
  color: #b5b8c2;
  text-align: center;
  line-height: 50px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.form-group .form-input {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #edeff2;
  border-radius: 3px;
}

.form-group.fl_icon .form-input {
  padding-left: 70px;
}

.form-group textarea.form-input {
  height: 150px;
}
.reply{
  display:none;
  margin-left:5%;
}
.icon{
  margin-left: 10%;
  margin-bottom:5%;
}

#comment-form{
  margin-left: 13%;
}
button{
  border:0;
  background:none;
}
#newContribution{
  margin-left: 45%;
  margin-top: 5%;
}


///ADD CONTRIBUTION STYLE

.text-box {
  margin-left: 33%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #299d87;
  color: #ffffff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/// contribution form style
#contribute-form{
  display:none;
  margin-left:7%;
  height:20%;
}

//// contribution submit button
.contain {
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}
#sub {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid #299d87;
  color:#299d87;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: #299d87;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"SUBMIT";
  }
}
.onclic {
  width: 40px;
  border-color:gray;
  border-width:3px;
  font-size:0;
  border-left-color:#299d87;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color: #299d87;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: #299d87;
  &:after {
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//// browse button


#message{
  margin-top:3%;
  margin-left:8%;
}


//////// generate pdf button

.pdf{

  font-size:1.5rem;
  border:2px solid  #299d87;
  border-radius:100px;
  width:40px;
  height:40px;
  padding:5px;
  margin: 10% auto;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.icn{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;

}

//Hover
//-----------------------
.pdf:hover{
  width:125px;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  transition:.3s;
}

.pdf:active{
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: .05s
}



.dialog-ovelay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999
}
.dialog-ovelay .dialog {
  width: 400px;
  margin: 100px auto 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  border-radius: 3px;
  overflow: hidden
}
.dialog-ovelay .dialog header {
  padding: 10px 8px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3 {
  font-size: 14px;
  margin: 0;
  color: #555;
  display: inline-block
}
.dialog-ovelay .dialog header .fa-close {
  float: right;
  color: #c4c5c7;
  cursor: pointer;
  transition: all .5s ease;
  padding: 0 2px;
  border-radius: 1px
}
.dialog-ovelay .dialog header .fa-close:hover {
  color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
  box-shadow: 0 0 5px #673AB7;
  color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
  padding: 12px 10px
}
.dialog-ovelay .dialog .dialog-msg p{
  margin: 0;
  font-size: 15px;
  color: #333
}
.dialog-ovelay .dialog footer {
  border-top: 1px solid #e5e5e5;
  padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls {
  direction: rtl
}
.dialog-ovelay .dialog footer .controls .button {
  padding: 5px 15px;
  border-radius: 3px
}
.button {
  cursor: pointer
}
.button-default {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(204, 204, 204, 0.5);
  color: #5D5D5D;
}
.button-danger {
  background-color: #f44336;
  border: 1px solid #d32f2f;
  color: #f5f5f5
}
.link {
  padding: 5px 10px;
  cursor: pointer
}