.formbold-form-wrapper {
  margin-inline: auto;
  width: min(100vw - 3rem, var(--container-max, 60ch));
  background: white;

  label {
    color: var(--clr-primary);
    font-weight: 500;
    font-size: 1rem;
  }
}

.formbold-input-flex {
  display: grid;
  gap: 20px;
  @media (width > calc(2*30ch)) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.formbold-form-input {
  width: 100%;
  padding: 0.25rem;
  border-color: transparent;
  border-bottom: 1px solid #DDE3EC;
  font-weight: 500;
  resize: none;

  &:focus {
    border-color: var(--clr-primary);
  }
}

.formbold-form-input:focus + label {
  color: var(--DarkTurquoise);
}

.formbold-input-file input[type="file"] {
  position: absolute;
  top: 6px;
  left: 0;
  z-index: -1;
}

.formbold-input-file label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

#story_submit, #profile_submit {
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.5em;
}

.fa-paperclip {
  color: var(--clr-primary);
}