@use 'abstracts/mixins' as m;

body {
  padding: 0;
  background: linear-gradient(-45deg, #3c8c8d, #88d3ce, #ffebde);
  background-size: 400% 400%;
  animation: gradient-bg 12s ease infinite;
  display: grid;
  place-content: center;
}

#main {
  width: min(100vw - 3rem, var(--container-max, 60ch));
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding: 1.5rem clamp(1rem, 5%, 3rem);
}

.title {
  @include m.pseudo($top: 100%) {
    height: 3px;
    width: 2rem;
    border-radius: 5px;
    background: linear-gradient(-20deg, #469597 0%, #88d3ce 100%);
  }
}

input[type="radio"] {
  margin: 1em 0.5em 0.5em;
  height: 1em;
  width: 1em;
}

.btn {
  width: 100%;
  font-size: 1.125rem;
  background: linear-gradient(-20deg, #469597 0%, #88d3ce 100%) !important;
}

@keyframes gradient-bg {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}