@use 'abstracts/mixins' as m;

body {
  padding: 0;
  background: linear-gradient(-45deg, #3c8c8d, #88d3ce, #ffebde);
  background-size: 400% 400%;
  animation: gradient-bg 12s ease infinite;
  display: grid;
  place-content: center;
}

#main {
  margin-inline: auto;
  width: min(55ch, 100% - 3rem);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.title {
  @include m.pseudo($top: 100%) {
    height: 3px;
    width: 2rem;
    border-radius: 5px;
    background: linear-gradient(-20deg, #469597 0%, #88d3ce 100%);
  }
}

input[type="radio"] {
  margin-left: 22px;
  margin-top: 20px;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
  border: 0.1rem solid #d9d9d9;
  background-color: #d9d9d9;
  border-radius: 50%;
}

/* Button style */
.button {
  height: 45px;
  margin: 35px 0
}

.button button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  background: linear-gradient(-20deg, #469597 0%, #88d3ce 100%);
  transition: all 0.3s ease;
}

.button button:hover {
  background-color: linear-gradient(-20deg, #469597 0%, #88d3ce 100%);
}

@include m.mq(small) {
  .container {
    max-width: 100%;
  }
  .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .category {
    width: 100%;
  }
  .content .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .container .content .category {
    flex-direction: column;
  }
}

@keyframes gradient-bg {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}