@import "helper/variables";

@import '~bootstrap';
@import "./layout/header";
@import "./helper/general";
body {
  background: #e7dfdb;
  margin-top: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: .5rem!important;
}

.profile-container {
  margin: 0 auto;
  max-width: 1000px;
  padding:20px 24px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  background-color:white;
}

#profile-info {
  width: 800px;
  margin: auto;
}

.infos {
  border-radius: 5px 5px 4px 4px;
}

#bio {
  line-height: 16px;
  display: block;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 1.25rem;
  color: #53186a;
  font-weight: bold;
}

.profile-picture {
  width: 200px;
  height: 200px;
  margin: auto;
  z-index: 1;
  position: relative;
}

.profile-name {
  margin: 4px 0;
  color: #53186a;
}

.fa-user-pen {
  margin-left: 20px;
  color: $Turquoise;
}

.tier-container {
  margin: 12px;
}

.tier-content {
  margin-top: 2px;
}

.tier-info {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 16px;
  margin-left: 4px;
}

#xp {
  color: black;
}

.profile-stats {
  margin-top: 10px;
}

.fa-user {
  padding-right: 5px;
}

.profile-followers,
.profile-following {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.25rem;
  color: darken($DarkTurquoise, 10%);
  margin-top: 5%;
}

.profile-stories-title {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #2b5a89;
}

/* CSS pour l'effet de zoom */
.zoom-image {
  transition: transform 0.3s ease-in-out;
}

.zoom-image:hover {
  transform: scale(1.05);
}

/* CSS pour la taille initiale de l'image */
.zoom-image {
  transform: scale(1);
}

.description {
  color: #2b5a89;
  font-style: italic;
}
.follow-button{
  margin-left: 115px;
}

.level-up-message {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.level-up-message p {
  font-size: 1.125rem;
  font-weight: bold;
  color: $Turquoise;
}