@import "./layout/header";
@import "./helper/general";

body {
  background: #e7dfdb;
  margin-top: 1.25em;
}

.card {
  border: 0 solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.profile-container {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.profile-followers {
  font-weight: bold;
  font-size: 1.5rem;
}

.tiers-container {
  max-width: 75ch;
}

.tier-container {
  margin: 1em;
}

.level-up-message {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.5em;
  margin-bottom: 1em;

  p {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--DarkTurquoise);
  }
}

.tier-info {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 0.5em;
}

.xp-progress {
  font-size: 1rem;
}

.profile-stories-title {
  font-weight: bold;
  color: #2b5a89;
}

/* CSS for image zoom effect */
.zoom-image {
  max-width: 50%;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    transform: scale(1);
  }
}

.description {
  color: #2b5a89;
  font-style: italic;
}

.rounded-pill {
  margin-left: 0.5em;
}