.card {
  position: relative;
  overflow: hidden;
  padding: 1.25em;
  margin-bottom: 1.25em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  min-height: 21em;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .card-triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 4em;
    height: 3.5em;
    background-color: var(--DarkTurquoise);
    clip-path: polygon(0 0, 100% 0, 0 100%);
    border-top-right-radius: 10px;
  }

  .quest-points {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }

  .card-body {
    max-width: 75ch;
    margin: auto;
  }

  .card-title {
    font-weight: bold;
    margin-bottom: 0.625em;
  }

  .card-text {
    margin-block-end: 1em;
  }

  .quest-type {
    font-style: italic;
    color: #888;
  }

  .quest-completion {
    color: #f44336;
    font-size: var(--fs-300);
  }

  .congratulation {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--DarkTurquoise);
    background-color: var(--clr-accent);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
}