{% extends 'base.html.twig' %} {% block title %}Hello StorypageController!{%
endblock %} {% block body %}
<body>
  <main style="margin-top: 20px">
    <div class="parts">
      <div class="part">
        <div class="contributions">
          <div class="contribution row">
            <div class="col-2 name">
              <h3>Skander</h3>
            </div>
            <div class="text col-9">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                eget nunc aliquam, bibendum ante eget, ultrices enim. Fusce
                vitae turpis ipsum. Aliquam erat volutpat. Proin ultricies
                dapibus ipsum vitae venenatis. Sed sit amet enim vel sapien
                sagittis dictum. Vestibulum lacinia fermentum nibh, nec posuere
                tortor porttitor vel. Duis pellentesque purus a lorem
                ullamcorper, in aliquam urna dictum.
              </p>
            </div>
            <div class="votes col-1 hidden">
              <button class="upvote" style="margin-left: -20%">Upvote</button>
              <p class="number-votes">69</p>
              <button class="downvote">Downvote</button>
            </div>
          </div>

          <div class="adder hidden">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>

      <div class="part">
        <div class="contributions">
          <div class="contribution row">
            <div class="col-2 name">
              <h3>Skander</h3>
            </div>
            <div class="text col-9">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                eget nunc aliquam, bibendum ante eget, ultrices enim. Fusce
                vitae turpis ipsum. Aliquam erat volutpat. Proin ultricies
                dapibus ipsum vitae venenatis. Sed sit amet enim vel sapien
                sagittis dictum. Vestibulum lacinia fermentum nibh, nec posuere
                tortor porttitor vel. Duis pellentesque purus a lorem
                ullamcorper, in aliquam urna dictum.
              </p>
            </div>
            <div class="votes col-1 hidden">
              <button class="upvote">Upvote</button>
              <p class="number-votes">69</p>
              <button class="downvote">Downvote</button>
            </div>
          </div>
        </div>
      </div>
      <div class="part">
        <div class="contributions">
          <div class="contribution row">
            <div class="col-2 name">
              <h3>Skander</h3>
            </div>
            <div class="text col-9">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                eget nunc aliquam, bibendum ante eget, ultrices enim. Fusce
                vitae turpis ipsum. Aliquam erat volutpat. Proin ultricies
                dapibus ipsum vitae venenatis. Sed sit amet enim vel sapien
                sagittis dictum. Vestibulum lacinia fermentum nibh, nec posuere
                tortor porttitor vel. Duis pellentesque purus a lorem
                ullamcorper, in aliquam urna dictum.
              </p>
            </div>
            <div class="votes col-1">
              <button class="upvote">Upvote</button>
              <p class="number-votes">69</p>
              <button class="downvote">Downvote</button>
            </div>
          </div>

          <div>
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %} {% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags("storypage") }}{% endblock %} {% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("storypage") }}{% endblock %}
