{% block footer %}
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>StoryVerse</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer>
{% endblock %}